* {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1240px;
  }
}

.hero {
  height: 75vh;
  background: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ls-8 {
  letter-spacing: 8px;
}

/* form */
section.form {
  position: relative;
  top: -50px;
  z-index: 1000;
  margin-bottom: -50px;
}

.grid-input {
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  background: #fcfbfb;
}

.outline {
  border-radius: 5px;
  border: 2px solid #374360;
}
.brand-item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.brand-item img {
  width: 50px;
}
.heart {
  right: 50px;
  bottom: -18px;
}
